.wrapper {
  margin: 0 auto;
  width: clamp(calc(320px - 3rem), 75%, 70ch);
  height: calc(75vh - 2.5rem);
  border: 0.5rem solid black;
}

.menu {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;

  flex-wrap: wrap;
  /*
    The property makes content items naturally wrap down underneath the menu whenever there is not what
    there is not enough horizontal space.

    It ends up with wrapping items down on a second line or a third line or a fourth line,
    depending on how much space is available. In short, when the viewport width is reduced,
    the items wrap down to the next line.
  */

  gap: 1em;
  /*
    Giving just one value because there's a change the menu might wrap.
    And in that case, I also want a 1rem space between the first line and the second line.
    Otherwise, we could have provided two values, one for the horizontal gap, and one for the vertical gap.
  */
}

.menu li {
  margin: 0 .25rem;
}

.menu a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  /* color: black; */
  color: darkgreen;
  border: 1px solid black;
}

.menu a:hover {
  background-color: #1e1e1e;
  color: #fff;
}
